<div class="container" style="width: 50%">
<div class="col-sm", style='padding-left: 25px'>
      <h1><%= "Create Bulk Discount" %></h1><br>
      <%= render partial: 'form', locals: { bulk_discount: [@merchant, BulkDiscount.new]} %>
    </div>
  </div>